/* -------- google fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.header-bg{
    background-color: #FFF9F4;
}
.tamarind-text{
    color: #FA804C;
    font-weight: 700;
}